/* importerer en font fra google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


/*Her definere vi fonten for hele nettsiden, begge .html dokumenter */
body{
    font-family: 'Open Sans', sans-serif;
}

/* css for header */
header{
    padding: 25px;
    color: coral;
    background-color: grey;
    text-transform: uppercase;
    font-size: 20px;  
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#maintaskb {
    padding-right: 500px;
}
  
#navbar{
    display:inline-block;
    vertical-align: middle;
}

#navbar li{
    display: inline;
}

#navbar li:first-child{
    padding-right: 10px;
}

main {
    padding-left: 25px;
}

.paragraf-text {
    padding-right: 500px;
    padding-bottom: 250px;
}

a:link {
    color:coral;
    text-decoration: none; 
}

a:visited {
    color:coral;
}

a:hover{
    color:aquamarine;
}

footer{ 
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    text-align: center;
    font-size: 10px;  
}