/* importerer en font fra google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


/*Her definere vi fonten for hele nettsiden, begge .html dokumenter */
body{
    font-family: 'Open Sans', sans-serif;
}

/* css for header */
header{
    padding: 25px;
    color: coral;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;  
}

h1{
    display: inline-block;
    vertical-align: middle;
}

#maintaskb {
    padding-right: 500px;
}
  
#navbar{
    display:inline-block;
    vertical-align: middle;
}

#navbar li{
    display: inline;
}

#navbar li:first-child{
    padding-right: 10px;
}

main {
    padding-left: 25px;
}

.paragraf-text {
    padding-right: 500px;
}

a:link {
    color:coral;
    text-decoration: none; 
}

a:visited {
    color:coral;
}

a:hover{
    color:aquamarine;
}

/* Kilde footer:
(https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b)
Brukt metode 3, "position = absolute"
*/

footer{
    bottom: 10;
    width: 99%;
    height: 50px;
    text-align: center;
    font-size: 10px;
}