/* importerer en font fra google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}


/* css for header */

header{
    padding: 25px;
    color: coral;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    
}


h1{
    display: inline-block;
    vertical-align: middle;
    
}
  
#navbar{
    display:inline-block;
    vertical-align: middle;
}

#navbar li{
    display: inline;
}

#navbar li:first-child{
    padding-right: 10px;
}

main {
    padding-left: 25px;
}





a:link {
    color:coral;
    text-decoration: none; 
}

a:visited {
    color:coral;
}

a:hover{
    color:aquamarine;
}


